
body{
    margin: 0;
    text-align: center;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header img{

    width: 200px;
    margin: 20px 0;
}

.header-subtitle{
    background-color: #fdfbf1;
    border-top: 3px solid #fbe39f;
    margin-top: 5px;
    padding: 15px 0;
    color: #2d7474;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}
.header-subtitle span span{
    text-transform: uppercase;
    color: #267777;
    font-weight: bold;
    
}

main{

    width: 50%;
    text-align: left;
    margin: auto;
}
main img{
width: 100%;
border-radius: 5%;
}
h5{
    color: #989898;
    text-align: center;
    margin-top: 1rem;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
}
section h2 {
    border-bottom: 1px solid #c5f3f3;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
.text-red{
    color: #b13d03;
    font-weight:bold;
}
a{
    color: #2d7474;
}
hr{
    color: #a1f3f3;
}
